<div id="reporttitlebox">
  <h1>Report an issue or fault</h1>
</div>
<div id="reportbackbutton">
  <h2 onclick="backbuttonRedirect" class="clicktext" >Back to search</h2>
</div>
<div id="reportinfobox">
  <h2>If you have encountered any issues or faults while using the platform, please inform us of them in the box below.</h2>
</div>
<textarea type="text" id="reporttextbox" placeholder="Please enter the issue here.."></textarea>
<div class="submitbutton">
  <h1 onclick="submitbuttonRedirect" class="clicktext" >Submit</h1>
</div>
