.rectangleRegister{
background-color: #0063FF;
width: 95%;
height: 7.5%;
border-radius: 40px;
margin-top: 14.5%;
margin-left: 2%;
padding: 19px;
color: #fff;
font-weight: bold;
font-size: 22px;

}

.form-group{
  width: 150%;
}
