header {
  display: flex;
  align-items: center;
  background-color: #0063FF;
  color: white;
  padding: 0.2rem 2%;
}

.header-navigation{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 0 0 5%;
  padding: 0;
}

.header-navigation-item{
  display: inline-block;
  margin: 0 14px;
}

a {
  color: white;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

.active {
  background-color: #6eb5ff;
  color: white;
  padding: 0.3rem 0.5rem;
}

.hero-image {
  position: relative;
  width: 100%;
//  height: 320px;
  background-size: cover;
//  background: url('../../assets/38521354191_0f9b6016bc_b.jpg') no-repeat 0 80%;
  background-size: cover;
}

.hero-text {
  color: #a1c9ff;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  filter: drop-shadow(2px 2px 3px black);
  font-size: 3rem;
}

.nav-end {
  flex-direction: row-reverse;
  flex-grow: 1;
}

.header-title{
  font-size: x-large;
  font-weight: bold;
}

.dropdown{
  display: none;
}
select{
  display: none;
}

@media only screen and (max-width: 800px){

  .header-navigation {
    display: none;
  }

  .header-navigation-item{
    list-style: none;
    display: block;
    margin: 0;
  }

  .header-searchbar{
    position: absolute;
    width: 71%;
    height: 86%;
    top: 6%;
    left: 28%;
  }

  .dropbtn {
  background-color: #0063F1;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-title{
  font-size: large;
  font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
}
