<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="box">
  <button class="backbutton" (click)="onGoBack()"><< Back</button>
  <div class="single-biome-pane">
    <img [src]="biome?.imageUrl" alt="">
    <div class="single-biome-info">
      <h1 style="color:white;">
        {{ biome?.title }}</h1>
      <p style="color:grey; font-size:22px;">
        {{ biome?.description }}</p>
      <button class="btn btn-success m-1" (click)="onModify()" [disabled]="part >= 3 && userId !== biome?.userId">Modify</button>
      <button class="btn btn-danger m-1" (click)="onDelete()" [disabled]="part >= 3 && userId !== biome?.userId">Delete</button>
    </div>
    <div class="agent-box">
      <app-agents-list></app-agents-list>
    </div>
  </div>
</div>
